body{
	background-image: achv.jpg;
	background-size: cover;
	background-attachment: fixed;
	margin: 0;
	padding: 0;
}
.tm-container{
	
	margin:0 auto;
}
.tm-header{
	background:#1D5C73;
	margin:0 ;
	height :70px;
	width: 100%;


}


.tm-nav ul li{
	display:inline-block;
	padding: 1px 10px 10px 10px; 
}


.tm-nav ul li a{
	padding: 5px 90px 5px 90px;
	text-decoration:none;
	color:#FFFFFF;
	line-height: 0px;
	font-size:20;
}
.tm-logo{
	float: left;
	padding: 10px;
	width: 60PX;
    
}
.tm-nav{
	float: right;
}
.content{
	width: 50%;
	padding: 70px 10px 10px 40px ;
}
p{
	font-size: 30;
}

